.glyphicon
{
    color: green;
    font-size: x-large;
}
.glyphicon-globe
{
    color: blue;
}
.panel
{
    color: black;
}
#btn
{
    text-align: center;
}
#section1
{
    height: 1000px;
}
#section2
{
    height: 1000px;
}